--swiftversion 5
--indent 4
--indentcase false
--trimwhitespace always
--voidtype void
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--maxwidth 140
--semicolons never
--commas inline
--stripunusedargs closure-only
--self remove
--header ignore
--ifdef no-indent
--disable redundantReturn
--disable blankLinesBetweenImports
--disable docComments
--disable andOperator
--disable consecutiveSpaces
--exclude .build,.swiftpm,Sources/Pixe/BuildInfo.swift
